/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 40px;
    margin-bottom: 40px;
}

h4{
    font-size: 25px;
}

h5{
    font-size: 18px;
    font-weight: lighter;
}

.container{
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
}

button{
    cursor: pointer;
    border-radius: 20px;
    /* height: 100%; */
    padding: 5px 10px;
    border: 0;
}

button.white{
    background-color: white;
}

button.white:hover{
    background-color: rgb(175, 222, 253);
}

button.violet{
    background-color: rgb(153, 146, 224);
}

button.violet:hover{
    background-color: rgb(100, 134, 248);
}

button.white a{
    color: black;
}

button.blue{
    background-color: rgb(0, 134, 248);
}

button.blue:hover{
    background-color: rgb(100, 134, 248);
}

.white{
    color: white;
}

/* header */

header{
    background-color: rgb(0, 134, 248);
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 90;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    max-width: 100%;
    cursor: pointer;
}

#menu-mobile{
    font-size: 25px;
    line-height: 100px;
    vertical-align: middle;
    cursor: pointer;

}

#menu-desktop{
    display: none;
}


    /* versione tablet */

    @media screen and (min-width:768px) {

        .container{
            max-width: 768px;
        }
    }
    /* versione desktop */

    @media screen and (min-width:1024px) {

        .container{
            max-width: 1024px;
            width: 80%;
        }

        header .container{
            height: 100%;
        }
        
        #menu-mobile{
            display: none;
        }

        #menu-desktop, #menu-desktop ul{
            display: flex;
        }


        #menu-desktop li{
            height: 100px;
            padding: 0 10px;
            cursor: pointer;
        }
        #menu-desktop li:last-child{
            cursor: auto;
        }

        #menu-desktop li > a, #menu-desktop div{
            line-height: 100px;
            vertical-align: middle;
        }

        #menu-desktop li:hover{
            background-color: rgba(255, 255, 255, 0.4);
        }

        #menu-desktop li:last-child:hover{
            background-color: rgba(255, 255, 255, 0);
        }



        
    }

/* main */

main{
    padding-top: 120px;
}
.scheda{
    border-radius: 20px; 
    margin-bottom: 20px;
    cursor: pointer;
}


/* effetti */
.scheda:hover{
    position: relative;
    top: -3px;
    left: -3px;
    box-shadow: 10px 10px 5px #0000002d;
}

.scheda:active{
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: none;
}

    /* versione tablet */
    @media screen and (min-width:768px) {
        .row{
    
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }


        .scheda{
           
            flex-basis: calc(100%/3 - 15px);
            
        }

    }


/* developer */

#developer-section{
    margin-top: 20px;
    margin-bottom: 40px;
}

#developer-section .scheda{
    background-color: rgb(175, 222, 253);
    padding: 25px 40px 0 40px;
}

#developer-section h4{
    color: rgb(0, 126, 247);
    margin-bottom: 15px;
}
#developer-section p{
    line-height: 180%;
    margin-bottom: 30px;
}

#developer-section button.blue {
    width: 80%;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 0;
   
}

#developer-section .scheda div img{
    max-width: 100%;
    margin-bottom: -5px;
}

#developer-section .scheda.slim{
    text-align: center;
    padding: 30px 20px;
}

#developer-section .scheda > i{
    font-size: 80px;
    margin-bottom: 20px;
    color: rgb(0, 126, 247);
}
/* effetti */
#developer-section .scheda:hover > i, #developer-section .scheda:hover h4{
    color: rgb(195, 249, 138);
}

#developer-section .scheda:active > i, #developer-section .scheda:active h4{
    color: rgb(0, 126, 247);
}


    /* versione tablet */

    @media screen and (min-width:768px) {
        #developer-section .row .scheda:first-child {
            flex-basis: calc(100%/3*2 - 7.5px);
        }
        #developer-section .scheda div.img-scheda{
            max-width: 60%;
        }


        #developer-section button.blue{
            width: 60%;
            letter-spacing: 0;
        }

        #developer-section .scheda{
            padding-bottom: 0px;
        }

    }
    /* versione desktop */

    @media screen and (min-width:1024px) {


        #developer-section .txt-scheda{
            height: 100%;
            max-width: 60%;
        } 

        #developer-section .row .scheda:first-child{
            display: flex;
            align-items: end;
        }       
    }


/* planning */

#planning-section{
    background-color: rgb(153, 146, 224);
    padding: 80px 40px;
}

#planning-section .sx-planning{
    margin-bottom: 20px;
}

#planning-section .sx-planning .img-planning{
    margin-bottom: 60px;
}

.img-planning img{
    max-width: 100%;
}

.sx-planning .img-planning{
    margin-bottom: 60px;
}


.sx-planning p{
    line-height: 180%;
    margin-bottom: 40px;
}


#planning-section .dx-planning{
    border-radius: 40px;
    background-color: white;
    padding: 40px 30px;
    text-align: center;
    cursor: pointer;
}
.dx-planning .img-planning{
    margin-bottom: 20px;
}
.dx-planning h4{
    margin-bottom: 20px;
}

.dx-planning p{
    font-style: italic;
    line-height: 180%;
    margin-bottom: 20px;
}

.dx-planning .circle{
    background-color: rgb(153, 146, 224);
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.dx-planning .circle:hover{
    background-color: rgb(100, 134, 248);
    color: white;
    position: relative;
    animation: muovi 1s linear infinite;
}

.dx-planning .circle:active{
    animation: trema 0.2s linear infinite;
}

@keyframes muovi{
    0%{
        top:0px;
    }

    50%{
        top: 20px;
    }
    100%{
        top:0px;
    }
}

@keyframes trema{
    0%{
        left:0px;
    }
    25%{
        left: 5px;
    }
    50%{
        left: 0px;
    }

    75%{
        left:-5px;
    }
    100%{
        left:0px;
    }

}

.dx-planning i{
    line-height: 50px;
    vertical-align: middle;
}

/* animazioni */
#planning-section .dx-planning:hover{
    animation: changecolor 2s linear infinite;
}
#planning-section .dx-planning:active{
    animation: changecolor 0.2s linear infinite;
}

@keyframes changecolor{
    0%{
        background-color: white;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: rgb(245, 0, 233);
    }
    75%{
        background-color:orange;
    }
    90%{
        background-color: rgb(98, 255, 0);
    }
}



    /* versione desktop */

    @media screen and (min-width:1024px) {

        #planning-section .container{
            width: 70%;
            max-width: calc(950px);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        #planning-section .sx-planning, #planning-section .dx-planning{
            flex-basis: calc(50% - 30px);
            margin-bottom: 0;
        }

        .sx-planning p{
            margin-bottom: 0px;
        }
        .dx-planning img{
            max-width: 60%;
        }
    }


/* testimonials */

#testimonial-section{
    margin: 40px 0 80px 0;
}

#testimonial-section .container{
    width: 80%;
}


.testimonial-text{
    margin-bottom: 30px;
    text-align: center;
}
.testimonial-text h5{
    margin-bottom: 30px;
}

.testimonial-text h4{
    margin-bottom: 30px;
    font-size: 35px;
    color: rgb(153, 146, 224)
}

.testimonial-text p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 180%;
    
}



#testimonial-section .item{
    background-color: rgb(153, 146, 224);
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}



div.foto.circle{
    height: 200px;
    width: 200px;
}

#testimonial-section div.foto.circle{

    margin: 10px auto 20px auto;
}

div.foto.circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
/* animation */

.item:hover div.foto.circle img{
    filter: grayscale(1);
   
}
.item:hover .description p, .item:hover .description h5{
    color: pink;
   
}
.item:active .description p, .item:active .description h5, .item:active div.foto.circle img{
    color: white;
    filter: none;
}


.item .description p{
    font-size: 18px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}
.item .description p::before{
    content: "\201C";
    font-size: 80px;
    line-height: 0;
    vertical-align: bottom;
}

.item .description p::after{
    content: "\201D";
    font-size: 80px;
    line-height: 0;
    vertical-align: bottom;
}


.item .description h5{
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
}

    /* versione tablet */

    @media screen and (min-width:768px) {
        #testimonial-section .container{
            width: 90%;
        }

        .item{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            
        }

        .item .description{
            flex-basis: 70%;
            text-align: left;
        }

    } 


    /* versione desktop */

    @media screen and (min-width:1024px) {

        #testimonial-section .item{
 
            gap: 20px;
            padding: 10px 20px 20px 5px;
        }
        #testimonial-section .foto{
            margin-bottom: 0px;
        }
    }  

/* benefits */


#benefits{
    background-color: rgb(153, 146, 224);
    padding: 40px 0;
}

#benefits h3{
    text-align: center;
}

#benefits .scheda{
    background-color: white;
    padding: 50px 30px 40px 30px;
}

#benefits .scheda h2, #benefits .scheda h4{
    color: rgb(153, 146, 224);
}

#benefits .scheda h2{
    margin-bottom: 25px;
}
#benefits .scheda h4{
    margin-bottom: 25px;
}
#benefits .scheda p{
    color: grey;
    margin-bottom: 25px;
}

#benefits .scheda button.violet{
    padding: 10px 0;
    width: 50%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
}

#benefits .scheda:hover h2, #benefits .scheda:hover h4{
    color: rgb(98, 255, 0);
}
#benefits .scheda:active h2, #benefits .scheda:active h4{
    color: rgb(153, 146, 224);
}

    /* versione tablet */

    @media screen and (min-width:768px) and (max-width:1024px){


        #benefits .scheda{
            flex-basis: calc(100%/2 - 10px);
        }


    }

        @media screen and (min-width:768px){


        #benefits h2{
            font-size: 75px;
        } 

    }




/* about us */

#aboutus{
    padding: 80px 0;
}

#aboutus h3{
    color: rgb(153, 146, 224);
}

#aboutus p{
    line-height: 200%;
    margin-bottom: 40px;
}
#aboutus .foto{
    position: relative;
    margin-bottom: 30px;
}

.foto .virgolette{
    line-height: 0;
    position: absolute;
    top: 100px;
    right: -20px;
    font-size: 240px;
    color: rgb(153, 146, 224);
}

#aboutus h4{
    color: rgb(153, 146, 224);
    margin-bottom: 30px;
}

#aboutus button{
    padding: 10px 20px;
}


    /* versione tablet */

    @media screen and (min-width:768px) {
        #aboutus .container{
            display: flex;
            justify-content: space-between;
        }

        #aboutus .area-txt{
            flex-basis: 60%;
        }
        #aboutus .area-foto{
            flex-basis: 20%;
        }

    

    }

    /* versione desktop */
    @media screen and (min-width:1024px) {
        #aboutus .container{
            padding: 10px;
        }

    }  



/* get started */

#getstarted{
    background-color: rgb(153, 146, 224);
    color: white;
    text-align: center;
    padding: 50px 0;
}

#getstarted .container{
    width: 80%;
}

#getstarted h5{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 30px;
}

#getstarted h4{
    font-size: 35px;
    margin-bottom: 30px;
}

#getstarted h2{
    font-size: 65px;
    margin-bottom: 30px;
    color: rgb(255, 191, 107);
}

/* animazioni */
#getstarted h2{
    position: relative;
    animation: trema 0.2s linear infinite, muovi 0.2s linear infinite;
}



#getstarted p{
    line-height: 180%;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.8);
}
#getstarted button{
    padding: 20px 80px;
    border-radius: 80px;
    margin-bottom: 40px;
}


#getstarted button a{
    color: rgb(153, 146, 224);
    font-size: 18px;
    letter-spacing: 1px;
}
#getstarted .copyright{
    color: rgba(255, 255, 255, 0.8);
}

#getstarted .copyright a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

#getstarted .copyright a:hover{
    color: rgb(195, 249, 138);
    text-decoration: none;
}


    /* tablet */
    @media screen and (min-width:768px) {

        #getstarted .container{
            max-width: 460px;
        }
    }


/* footer */
footer{
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding: 40px 0;
}

footer p{
    margin-bottom: 50px;
}

footer a{
    color: rgb(153, 146, 224);
    text-decoration: underline;
}

footer a:hover{
    color: rgb(195, 249, 138);
    text-decoration: none;
}

    /* tablet */
    @media screen and (min-width:768px) {

        footer .container{
            max-width: 400px;
        }
    }


