/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}



/* header */

header{
    background-color: blue;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 90;
}

header .container{
    display: flex;
    justify-content: space-between;
}

#menu-desktop{
    display: none;
}


    /* versione desktop */

    @media screen and (min-width:769px) {

        .container{
            max-width: 1024px;
            width: 80%;
        }
        
        #menu-mobile{
            display: none;
        }

        #menu-desktop{
            display: block;
        }
        
    }

/* main */

main{
    padding-top: 100px;
}
.scheda{
    border-radius: 10px; 
    margin-bottom: 20px;
}

    /* versione tablet */
    @media screen and (min-width:480px) {
        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .scheda{
            flex-basis: calc(100%/3 - 10px);
        }

    }


/* developer */

#developer-section{
    margin-top: 20px;
    margin-bottom: 40px;
}

#developer-section .scheda{
    background-color: rgb(175, 222, 253);
}




    /* versione tablet */

    @media screen and (min-width:480px) {
        #developer-section .scheda:first-child{
            flex-basis: calc(100%/3*2 - 5px);
        }

    }


/* planning */

#planning-section{
    background-color: rgb(153, 146, 224);
    padding: 40px 0;
}

#planning-section .sx-planning{
    margin-bottom: 20px;
}

#planning-section .dx-planning{
    border-radius: 20px;
    background-color: white;
}


    /* versione desktop */

    @media screen and (min-width:769px) {

        #planning-section .container{
            width: 70%;
            max-width: calc(950px);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        #planning-section .sx-planning, #planning-section .dx-planning{
            flex-basis: calc(50% - 20px);
            margin-bottom: 0;

        }
    }


/* testimonials */

#testimonial-section{
    margin: 40px 0;
}


.testimonial-text{
    margin-bottom: 30px;
    color: white;
}

#testimonial-section .item{
    background-color: rgb(153, 146, 224);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#testimonial-section .foto{
    margin-bottom: 10px;
}

    /* versione desktop */

    @media screen and (min-width:769px) {

        #testimonial-section .item{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px 20px 5px;
        }
        #testimonial-section .foto{
            margin-bottom: 0px;
        }
    }  

/* benefits */


#benefits{
    background-color: rgb(153, 146, 224);
    padding: 40px 0;
}

#benefits .scheda{
    background-color: white;
}

    /* versione tablet */

    @media screen and (min-width:480px) and (max-width:768px){

        .scheda{
            flex-basis: calc(100%/2 - 10px);
        }

    }


/* about us */

#aboutus{
    padding: 20px 0;
}
    /* versione tablet */

    @media screen and (min-width:480px) {
        #aboutus .container{
            display: flex;
        }

        #aboutus .area-txt{
            flex-basis: 70%;
        }
        #aboutus .area-foto{
            flex-basis: 30%;
        }

    

    }

    /* versione desktop */
    @media screen and (min-width:769px) {
        #aboutus .container{
            padding: 10px;
        }

        #aboutus .area-txt{
            flex-basis: calc(100%/3*2);
        }
        #aboutus .area-foto{
            flex-basis: calc(100%/3);
        }

    }  


/* footer */
footer{
    background-color: black;

}


/* debug */

section{
    min-height: 150px;
    background-color: brown;
    margin: 5px 0;
}

footer{
    min-height: 150px;
}

.container{
    min-height: 50px;
    background-color: aqua;
}


#logo, header nav{
    min-height: 50px;
    min-width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
}

.scheda{
    min-height: 100px;
    border: 1px solid black;

}

.sx-planning, .dx-planning{
    min-height: 50px;
    min-width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
}

.sx-planning{
    min-height: 80px;
}

.testimonial-text{
    min-height: 200px;
    min-width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}

.item{
    min-height: 50px;
    min-width: 100px;
    border: 1px solid black;
}


.foto{
    min-height: 20px;
    min-width: 20px;
    background-color: pink;
}

.description{
    min-height: 40px;
    min-width: 40px;
    background-color: lightgreen;
}



