/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'PT Sans', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
}

button{
    cursor: pointer;
    border-radius: 20px;
    /* height: 100%; */
    padding: 5px 10px;
    border: 0;
}

button.white{
    background-color: white;
}

button.white:hover{
    background-color: rgb(175, 222, 253);
}

button.white a{
    color: black;
}

button.blue{
    background-color: rgb(0, 134, 248);
}

button.blue:hover{
    background-color: rgb(100, 134, 248);
}



/* header */

header{
    background-color: rgb(0, 134, 248);
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 90;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img{
    max-width: 100%;
    cursor: pointer;
}

#menu-mobile{
    font-size: 25px;
    line-height: 100px;
    vertical-align: middle;
    cursor: pointer;

}

#menu-desktop{
    display: none;
}


    /* versione desktop */

    @media screen and (min-width:769px) {

        .container{
            max-width: 1024px;
            width: 80%;
        }

        header .container{
            height: 100%;
        }
        
        #menu-mobile{
            display: none;
        }

        #menu-desktop, #menu-desktop ul{
            display: flex;
        }


        #menu-desktop li{
            height: 100px;
            padding: 0 10px;
            cursor: pointer;
        }
        #menu-desktop li:last-child{
            cursor: auto;
        }

        #menu-desktop li > a, #menu-desktop div{
            line-height: 100px;
            vertical-align: middle;
        }

        #menu-desktop li:hover{
            background-color: rgba(255, 255, 255, 0.4);
        }

        #menu-desktop li:last-child:hover{
            background-color: rgba(255, 255, 255, 0);
        }



        
    }

/* main */

main{
    padding-top: 100px;
}
.scheda{
    border-radius: 20px; 
    margin-bottom: 20px;
}

    /* versione tablet */
    @media screen and (min-width:600px) {
        .row{
    
            display: flex;
            /* flex-wrap: wrap; */
            justify-content: space-between;
            /* align-items: stretch; */
            /* gap: 20px; */
        }
        .col{
            flex-basis: calc(100%/3 - 10px);
            padding-bottom: 20px;

        }
        .scheda{
            height: 100%;
        }

    }


/* developer */

#developer-section{
    margin-top: 20px;
    margin-bottom: 40px;
}

#developer-section .scheda{
    background-color: rgb(175, 222, 253);
    padding: 25px 25px 0 25px;
}

#developer-section h4{
    color: rgb(0, 126, 247);
    font-size: 25px;
    margin-bottom: 15px;
}
#developer-section p{
    line-height: 180%;
    margin-bottom: 25px;
}

#developer-section button.blue{
    width: 80%;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 3px;
    margin-bottom: 25px;
    font-weight: bold;
}
#developer-section .scheda div img{
    max-width: 100%;
    margin-bottom: -5px;
}

#developer-section .scheda.slim{
    text-align: center;
    padding: 30px 20px;
}
#developer-section .scheda.slim i{
    font-size: 80px;
    margin-bottom: 20px;
    color: rgb(0, 126, 247);
}





    /* versione tablet */

    @media screen and (min-width:600px) {
        #developer-section .col.big{
            flex-basis: calc(100%/3*2 - 5px);
        }
        #developer-section .scheda div.img-scheda{
            max-width: 60%;
        }

        #developer-section .scheda div img{
        
            margin-bottom: -25px;
        }
        #developer-section button.blue{
            width: 60%;
            letter-spacing: 0;
        }

        #developer-section .scheda.slim{
            padding-bottom: 0px;
        }

    }
    /* versione desktop */

    @media screen and (min-width:769px) {

        #developer-section .scheda div img{
        
            margin-bottom: -5px;
        }

        #developer-section .txt-scheda{
            height: 100%;
            max-width: 60%;
        } 

        #developer-section .scheda.big{
            display: flex;
            align-items: end;
        }       
    }


/* planning */

#planning-section{
    background-color: rgb(153, 146, 224);
    padding: 40px 0;
}

#planning-section .sx-planning{
    margin-bottom: 20px;
}

#planning-section .dx-planning{
    border-radius: 20px;
    background-color: white;
}


    /* versione desktop */

    @media screen and (min-width:769px) {

        #planning-section .container{
            width: 70%;
            max-width: calc(950px);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        #planning-section .sx-planning, #planning-section .dx-planning{
            flex-basis: calc(50% - 20px);
            margin-bottom: 0;

        }
    }


/* testimonials */

#testimonial-section{
    margin: 40px 0;
}


.testimonial-text{
    margin-bottom: 30px;
    color: white;
}

#testimonial-section .item{
    background-color: rgb(153, 146, 224);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#testimonial-section .foto{
    margin-bottom: 10px;
}

    /* versione desktop */

    @media screen and (min-width:769px) {

        #testimonial-section .item{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px 20px 5px;
        }
        #testimonial-section .foto{
            margin-bottom: 0px;
        }
    }  

/* benefits */


#benefits{
    background-color: rgb(153, 146, 224);
    padding: 40px 0;
}

#benefits .scheda{
    background-color: white;
}

    /* versione tablet */

    @media screen and (min-width:480px) and (max-width:768px){

        .scheda{
            flex-basis: calc(100%/2 - 10px);
        }

    }


/* about us */

#aboutus{
    padding: 20px 0;
}
    /* versione tablet */

    @media screen and (min-width:480px) {
        #aboutus .container{
            display: flex;
        }

        #aboutus .area-txt{
            flex-basis: 70%;
        }
        #aboutus .area-foto{
            flex-basis: 30%;
        }

    

    }

    /* versione desktop */
    @media screen and (min-width:769px) {
        #aboutus .container{
            padding: 10px;
        }

        #aboutus .area-txt{
            flex-basis: calc(100%/3*2);
        }
        #aboutus .area-foto{
            flex-basis: calc(100%/3);
        }

    }  


/* footer */
footer{
    background-color: black;

}


/* debug

section{
    min-height: 150px;
    background-color: brown;
    margin: 5px 0;
}

footer{
    min-height: 150px;
}

.container{
    min-height: 50px;
    background-color: aqua;
}


#logo, header nav{
    min-height: 50px;
    min-width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
}

.scheda{
    min-height: 100px;
    border: 1px solid black;

}

.sx-planning, .dx-planning{
    min-height: 50px;
    min-width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
}

.sx-planning{
    min-height: 80px;
}

.testimonial-text{
    min-height: 200px;
    min-width: 100px;
    background-color: aquamarine;
    border: 1px solid black;
}

.item{
    min-height: 50px;
    min-width: 100px;
    border: 1px solid black;
}


.foto{
    min-height: 20px;
    min-width: 20px;
    background-color: pink;
}

.description{
    min-height: 40px;
    min-width: 40px;
    background-color: lightgreen;
}

 */

